body {
    font-size: 18px;
    line-height: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Ubuntu", "Noto Sans", sans-serif;
    margin: auto;
    max-width: 50em;
    padding: 1em;
}

pre {
    font-size: 0.8em;
    font-family: "Consolas", "Liberation Mono", "DejaVu Sans Mono", "Menlo", "SFMono-Regular", monospace;
    white-space: pre;
    overflow: auto;
    padding: 1em;
}

header b a {
    font-size: 2em;
    line-height: 1.4em;
    color: black;
    font-weight: lighter;
    text-decoration: none;
    display: inline-block;
}

footer {
    font-size: 0.8em;
    line-height: 1.4em;
}

img, video {
    max-width: 100%;
}

article {
    margin: 18px 0px;
}

.title a {
    text-decoration: none;
}

.pubdate {
    color: #555
}

h2 {
    font-size: 125%;
}

a {
    color: #1360a7;
}

a:hover {
    color: #398ad5;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:nth-child(even) {
    background-color: #fff;
}
